/CordovaLib/CordovaLib.xcodeproj/xcuserdata/tgalonso.xcuserdatad/xcschemes/CordovaLib.xcscheme
/CordovaLib/CordovaLib.xcodeproj/xcuserdata/tgalonso.xcuserdatad/xcschemes/xcschememanagement.plist
/MovieWorth.xcodeproj/project.xcworkspace/xcuserdata/tgalonso.xcuserdatad/UserInterfaceState.xcuserstate
/MovieWorth.xcodeproj/xcuserdata/tgalonso.xcuserdatad/xcschemes/MovieWorth.xcscheme
/MovieWorth.xcodeproj/xcuserdata/tgalonso.xcuserdatad/xcschemes/xcschememanagement.plist
